:host {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navigation-background-color);
  box-shadow: var(--navigation-box-shadow);

  z-index: 100;
  position: relative;
}
