:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navigation-background-color);
  padding-inline: 16px;

  z-index: 100;
  position: relative;
}

div {
  display: flex;
  align-items: center;
}
p {
  margin: 0;
}
