:host {
  display: block;
}

div {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
  color: var(--navigation-text-color);
  height: 48px;
}

div:hover:not(.active) {
  cursor: pointer;
  background-color: #1c2437;
}

span {
  margin-left: 10px;
}

.active {
  background-color: var(--navigation-hover-background-color);
}

.default {
  color: white;
}

.disabled {
  color: var(--disabled);
}
