:host {
  margin-bottom: 8px;
  display: block;
}

div {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
  color: var(--navigation-text-color);
  height: 48px;
}
div:hover {
  cursor: pointer;
  background-color: var(--navigation-hover-background-color);
}
span {
  margin-left: 10px;
}
