rules_version = '2';
service cloud.firestore {
    function affectedKeys(keys) {
        return request.resource.data.diff(resource.data).affectedKeys().hasOnly(keys)
    }
    function hasOnly(keys) {
        return request.resource.data.keys().hasOnly(keys)
    }
    function isLoggedIn() {
        return request.auth != null && request.auth.uid != null
    }

    function isNumber(property) {
        return request.resource.data[property] is number
    }

    function isString(property) {
        return request.resource.data[property] is string
    }

    function isInRange(property, min, max) {
        return request.resource.data[property] >= min && request.resource.data[property] <= max
    }

    match /databases/{database}/documents {
      match /{path=**}/members/{id} {
        allow read: if isLoggedIn();
      }
        match /driver-standings/{id} {
            allow read
            allow create:
            if isLoggedIn() &&
            hasOnly(['firstName', 'lastName', 'phoneNumber', 'email', 'id'])
            allow update:
            if affectedKeys(['firstName', 'lastName', 'phoneNumber', 'email', 'id']) &&
            isLoggedIn()
            allow delete:
            if isLoggedIn()
        }
        match /constructor-standings/{id} {
            allow read
        }
        match /weather/{id} {
          allow read, update: if isLoggedIn()
        }
        match /tracks/{id} {
          allow read, update, create, delete: if isLoggedIn()

          match /configurations/{id} {
            allow read, update, create, delete: if isLoggedIn()
          }
       }
      match /teams/{id} {
          allow read, create, delete, update: if isLoggedIn()

          match /members/{id} {
            allow read, write, create, update, delete: if true
          }
        }
      match /championships/{id} {
          allow read, create, delete, update: if isLoggedIn()
      }
      match /events/{id} {
          allow read, create, delete, update: if isLoggedIn()
      }
match /user_team/{id} {
          allow read, write, create, delete, update: if isLoggedIn()
      }
match /championship_event/{id} {
          allow read, write, create, delete, update: if isLoggedIn()
      }
    }
}
