@for (driver of standings | async; track driver.driverId) {
  <app-standings-card [constructorId]="driver.constructorId" data-test-id="driver-entry">
    <div class="text-small text-container">
      <span data-test-id="driver-first-name">{{ driver.firstName }}</span>
      <span data-test-id="driver-position">{{ driver.position | ordinal }}</span>
    </div>
    <div class="text-large text-container">
      <span data-test-id="driver-last-name">{{ driver.lastName }}</span>
      <span data-test-id="driver-points">{{ driver.points }}pts</span>
    </div>
    <span data-test-id="driver-number" class="driver-number">{{ driver.driverNumber }}</span>
    <img
      data-test-id="driver-portrait"
      class="driver-image"
      ngSrc="/assets/drivers/{{ driver.driverId }}.avif"
      width="115"
      height="115"
      alt=""
    />
  </app-standings-card>
}
