.text-small {
  font-weight: lighter;
  font-size: 12px;
}

.text-large {
  font-weight: bold;
  font-size: 24px;
}

.text-container {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 6px;
  }
}

.driver-image {
  position: absolute;
  width: 115px;
  right: 6px;
  bottom: 0;
}

.driver-number {
  position: absolute;
  bottom: -52px;
  right: 164px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.03);
  font-size: 132px;
  font-weight: bolder;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.21);
  clip-path: inset(0 0 52px 0);
  -webkit-clip-path: inset(0 0 52px 0);
}
