@for(constructor of (standings | async); track constructor.constructorId){
<app-standings-card [constructorId]="constructor.constructorId" data-test-id="constructor-entry">
  <div class="wrapper">
    <div class="team-wrapper">
      <img
        data-test-id="constructor-logo"
        class="driver-image"
        ngSrc="/assets/constructors/logos/{{ constructor.constructorId }}.png"
        width="60"
        height="60"
        alt=""
      />
      <div data-test-id="divider" class="divider" [ngClass]="constructor.constructorId"></div>
      <div class="text-container">
        <span class="text-small">Team</span>
        <span data-test-id="constructor-name" class="text-large">{{ constructor.constructorName }}</span>
      </div>
    </div>
    <div class="text-container">
      <span data-test-id="constructor-position" class="text-small">{{ constructor.position | ordinal }}</span>
      <span data-test-id="constructor-points" class="text-large">{{ constructor.points }}pts</span>
    </div>
  </div>
</app-standings-card>
}
