.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.divider {
  height: 100%;
  background-color: #fff;
  width: 2px;
  margin: 0 20px 0 5px;
}

.team-wrapper {
  display: flex;
}

.text-small {
  font-weight: lighter;
  font-size: 12px;
}

.text-large {
  font-weight: bold;
  font-size: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
