.driver-card {
  box-shadow: 0 0 5px 2px #000000;
  border-radius: 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  height: 53px;
  padding: 20px 120px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;
  margin: 35px auto;

  background-color: #313131;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.65) 75%);
  position: relative;
  clip-path: inset(95px 0px 120px 0px);
}

.text-small {
  font-weight: lighter;
  font-size: 12px;
}

.text-large {
  font-weight: bold;
  font-size: 24px;
}

.text-container {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 6px;
  }
}

.driver-image {
  position: absolute;
  width: 115px;
  right: 6px;
  bottom: 1px;
}

.driver-number {
  position: absolute;
  top: 12px;
  right: 164px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.03);
  font-size: 132px;
  font-weight: bolder;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.21);
}

.ferrari {
  background-color: rgb(237, 28, 36);
}

.red_bull {
  background-color: rgb(30, 91, 198);
}

.mercedes {
  background-color: rgb(108, 211, 191);
}

.mclaren {
  background-color: rgb(245, 128, 32);
}

.alfa {
  background-color: rgb(172, 32, 57);
}

.alpine {
  background-color: rgb(34, 147, 209);
}

.alphatauri {
  background-color: rgb(78, 124, 155);
}

.haas {
  background-color: rgb(182, 186, 189);
}

.aston_martin {
  background-color: rgb(45, 130, 109);
}

.williams {
  background-color: rgb(55, 190, 221);
}
