<app-page-wrapper heading="Driver details">
  <div class="container">
    <app-panel>
      <div class="header">
        <h2>Personal Details</h2>
        <div class="spacer"></div>
        <app-button theme="accent" (click)="edit()">Edit profile</app-button>
        <app-button theme="warn" (click)="delete(driver()?.id)">Delete profile</app-button>
      </div>
      <div class="details">
        <div class="row">
          <div class="label">First name</div>
          <div class="value">{{ driver()?.firstName ?? '-' }}</div>
        </div>
        <div class="row">
          <div class="label">Last name</div>
          <div class="value">{{ driver()?.lastName ?? '-' }}</div>
        </div>
        <div class="row">
          <div class="label">Email</div>
          <div class="value">{{ driver()?.email ?? '-' }}</div>
        </div>
        <div class="row">
          <div class="label">phonenumber</div>
          <div class="value">{{ driver()?.phoneNumber ?? '-' }}</div>
        </div>
      </div>
    </app-panel>
  </div>
</app-page-wrapper>
