:host {
  display: grid;
  height: 100vh;
  &.navigation-opened {
    grid-template:
      'menubar menubar' 68px
      'sidebar screen' 1fr / 280px 1fr;
  }
  &.navigation-closed {
    grid-template:
      'menubar menubar' 68px
      'sidebar screen' 1fr / 0 1fr;
  }
}

main,
nav {
  overflow: scroll;
}

main {
  padding-inline: 64px;
}

:host.navigation-closed {
  nav {
    display: none;
  }
}
app-navigation {
  grid-area: menubar;
  border-bottom: 1px solid #1c2437;
}

nav {
  grid-area: sidebar;
  padding: 16px;
  border-right: 1px solid #1c2437;
  & * {
    margin-bottom: 8px;
  }
}

main {
  grid-area: screen;
}
