<!-- <app-navigation></app-navigation>
<div class="main">
  <div class="nav">
    @for (item of navigationItems; track item) {
      <app-navigation-item [name]="item.name" [icon]="item.icon" [link]="item.link" />
    }
  </div>
  <router-outlet></router-outlet>
</div>
-->

<app-navigation></app-navigation>
<nav>
  @for (item of navigationItems; track item) {
    <app-navigation-item [name]="item.name" [icon]="item.icon" [link]="item.link" />
  }
</nav>
<main>
  <router-outlet></router-outlet>
</main>
