<app-page-wrapper heading="Edit driver">
  <div class="container">
    <app-panel>
      <div class="header">
        <h2>Personal Details</h2>
      </div>
      @if (editForm | async; as form) {
        <form [formGroup]="form" (ngSubmit)="save(form.value)" class="details">
          <div class="row">
            <div class="label">First name</div>
            <app-input formControlName="firstName" placeholder="Fill in first name" class="value" />
          </div>
          <div class="row">
            <div class="label">Last name</div>
            <app-input formControlName="lastName" placeholder="Fill in last name" class="value" />
          </div>
          <div class="row">
            <div class="label">Email</div>
            <app-input formControlName="email" placeholder="Fill in email" class="value" />
          </div>
          <div class="row">
            <div class="label">Phone number</div>
            <app-input formControlName="phoneNumber" placeholder="Fill in phone number" class="value" />
          </div>
          <div class="actions">
            <app-button theme="accent" (click)="cancel()">Cancel</app-button>
            <app-button type="submit">Save</app-button>
          </div>
        </form>
      }
    </app-panel>
    <app-panel>
      <div class="header">
        <h2>Teams</h2>
      </div>
      @for (team of driverTeams | async; track team.id) {
        <div class="configuration">
          <div class="label">{{ team.name }}</div>
          <app-button icon="close" displayMode="icon-text" theme="warn" (click)="removeFromTeam(team.id)"
            >Remove from team</app-button
          >
        </div>
      } @empty {
        Not part of any team
      }

      <hr />
      <h2>Add to team</h2>
      @for (team of allTeams | async; track team.id) {
        <div class="configuration">
          <div class="label">{{ team.name }}</div>
          <app-button icon="close" displayMode="icon-text" (click)="addToTeam(team.id)">Add to team</app-button>
        </div>
      }
    </app-panel>
  </div>
</app-page-wrapper>
