<app-page-wrapper heading="Teams">
  <app-panel>
    <div class="table-heading">
      <app-input [formControl]="searchControl" />
      <app-button (click)="add()" icon="person_add"> Add new Team</app-button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        @for (team of filteredTeams | async; track team.id) {
          <tr>
            <td>{{ team.name ?? '-' }}</td>
            <td class="narrow">
              <app-button (click)="view(team.id)" icon="visibility" displayMode="icon-text" theme="transparent"
                >View</app-button
              >
            </td>
            <td class="narrow">
              <app-button (click)="edit(team.id)" displayMode="icon-text" icon="edit" theme="transparent"
                >Edit</app-button
              >
            </td>
            <td class="narrow">
              <app-button (click)="delete(team.id)" displayMode="icon-text" theme="transparent" icon="delete"
                >Delete</app-button
              >
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="7">No teams found</td>
          </tr>
        }
      </tbody>
    </table>
  </app-panel>
</app-page-wrapper>
