:host {
  min-width: 640px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.header {
  display: flex;
  align-items: baseline;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #1c2437;

  .spacer {
    flex: 1;
  }

  app-button {
    margin-left: 12px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  .label {
    font-weight: bold;
  }
}
