<app-page-wrapper heading="Track details">
  <div class="container">
    @if (track()) {
      <app-panel>
        <div class="header">
          <h2>Track Details</h2>
          <div class="spacer"></div>
          <app-button theme="accent" (click)="edit()">Edit track</app-button>
          <app-button theme="warn" (click)="delete()">Delete track</app-button>
        </div>
        <div class="details">
          <div class="row">
            <div class="label">ID</div>
            <div class="value">{{ track()?.id ?? '-' }}</div>
          </div>
          <div class="row">
            <div class="label">Name</div>
            <div class="value">{{ track()?.name ?? '-' }}</div>
          </div>
          <div class="row">
            <div class="label">Lattitude</div>
            <div class="value">{{ track()?.lat ?? '-' }}</div>
          </div>
          <div class="row">
            <div class="label">Lontitude</div>
            <div class="value">{{ track()?.lon ?? '-' }}</div>
          </div>
        </div>
      </app-panel>
    } @else {
      no track
    }
  </div>
</app-page-wrapper>
