/* You can add global styles to this file, and also import other style files */

html {
  --primary-color: rgb(79, 70, 229);
  --button-hover-background-color: rgb(86, 77, 230);
  --navigation-background-color: rgb(255, 255, 255);
  --navigation-text-color: rgb(30, 41, 59);
  --navigation-hover-background-color: rgb(241, 245, 249);
  --navigation-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --body-text-color: rgb(30, 41, 59);
  --body-background-color: rgb(241, 245, 249);
  --standings-text-color: #fff;
  --panel-background-color: rgb(255, 255, 255);
  --panel-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  --select-background-color: rgb(255, 255, 255);
  --select-text-color: rgb(30, 41, 59);
  --select-border-color: rgb(203, 213, 225);
  --select-arrow-color: rgb(117, 117, 117);
  --select-border-color-focus: rgb(79, 70, 229);

  --profile-background-color: rgb(226, 232, 240);
  --profile-text-color: rgb(71, 85, 105);
  --disabled: #a3a3a3;
}

.dark {
  --navigation-background-color: rgb(15, 23, 42);
  --navigation-text-color: #fff;
  --navigation-hover-background-color: rgb(54, 64, 80);
  --navigation-box-shadow: 0 1px 0 0 rgb(54, 64, 80);
  --body-text-color: #fff;
  --body-background-color: rgb(15, 23, 42);
  --standings-text-color: #fff;
  --panel-background-color: rgb(21, 29, 48);
  --panel-box-shadow: none;

  --select-background-color: rgb(14, 22, 40);
  --select-text-color: rgb(255, 255, 255);
  --select-border-color: rgb(100, 116, 139);
  --select-arrow-color: rgb(145, 148, 156);
  --select-border-color-focus: rgb(79, 70, 229);

  --profile-background-color: rgb(51, 65, 85);
  --profile-text-color: rgb(225, 231, 239);
  --disabled: #a3a3a3;
}

body {
  background-color: var(--body-background-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--body-text-color);
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
