/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(30, 41, 59);
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}
