:host {
  flex: 1;
}

input {
  height: 48px;
  border: 1px solid var(--select-border-color);
  background-color: var(--select-background-color);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  color: var(--select-color);

  &:focus {
    outline: none;
    border: 1px solid var(--primary-color);
  }
}
